<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Subscribe to the newsletter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form action="#" th:action="@{/greeting}" th:object="${subscription}" method="post">
        <p>email: <input type="text" th:field="*{email}" /></p>
        <p>First name: <input type="text" th:field="*{firstName}" /></p>
        <p>Gender: <input type="text" th:field="*{gender}" /></p>
        <!--<p>Birth date: <input type="date" th:field="*{dateOfBirth}" /></p>-->
        <p>Consent: <input type="checkbox" th:field="*{flagForConsent}" /></p>

        <p>
            <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
        </p>
    </form>
</body>
</html>
